.header {
    background-color: #330114;
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
}

.header ul {
    list-style: none;
    display:flex;
    margin:5px;
}

.header li {
    color:white;
    margin-right: 5rem;

}

.name {
    margin-right: 0px;
    color:white;
    font-weight: bold;
    font-size: 2rem;
}

.header a {
    text-decoration: none;
    color: #cbbcbc;
}

.header a:hover,
.header a:active {
    color: white;
}